.DS_Store
/Temp
/obj
/library
*.sw[a-p]

Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Assembly-CSharp-firstpass.csproj

*.db
*.git
*.app
*.csproj
*.sln

voxelgon.sublime-project
voxelgon.sublime-workspace
voxelgon.userprefs
/.vscode*