.DS_Store
/Temp
/obj
/library
*.sw[a-p]
*.db
*.git
*.app
*.csproj
*.userprefs
*.unityproj
*.sln

voxelgon.sublime-project
voxelgon.sublime-workspace
voxelgon.userprefs
/.vscode*
omnisharp.json

Assets/Plugins/Editor/VSCode.cs
